.create {
  width: auto;
  margin: 0 auto;
  text-align: center;
}

.create label {
  text-align: left;
  display: block;
}

.create h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}

.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button{
  float: right;
  color: white;
  background-color: rgb(47, 47, 230);
  border-radius: 10%;
  padding: 5px;
}

.update {
  width: auto;
  margin: 0 auto;
  text-align: center;
}

.update label {
  text-align: left;
  display: block;
}

.update h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}

.update input, .update textarea, .update select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.update button{
  float: right;
  color: white;
  background-color: rgb(47, 47, 230);
  border-radius: 10%;
  padding: 5px;
}